<?xml version="1.0" encoding="utf-8"?>
<configuration>


	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>



	<system.serviceModel>



		<services>

			<service name="Sw2Rest.Service1" behaviorConfiguration="Service1Behaviour">


				<endpoint name="webHttpBinding" address="" binding="webHttpBinding" contract="Sw2Rest.IService1" behaviorConfiguration="webHttp" />

				<endpoint name="mexHttpBinding" address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />


			</service>

		</services>


		<behaviors>

			<serviceBehaviors>

				<behavior name="Service1Behaviour">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>

				<behavior>
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>

			</serviceBehaviors>


			<endpointBehaviors>
				<behavior name="webHttp">
					<webHttp />
				</behavior>
			</endpointBehaviors>


		</behaviors>

		<!--

		<behaviors>

			<endpointBehaviors>
				<behavior name="web">
					<webHttp />
				</behavior>
			</endpointBehaviors>




			<serviceBehaviors>


				<behavior name="Service1Behaviour">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
					//<serviceAuthorization serviceAuthorizationManagerType = "Sw1Rest.Auth.Authentification, Sw1Rest"/>
				</behavior>



				<behavior name="">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>



			</serviceBehaviors>


		</behaviors>


		<services>
			<service name="Sw1Rest.Service1" behaviorConfiguration="Service1Behaviour">
				// Service Endpoints (extrémité) 
				<endpoint address="" binding="webHttpBinding" contract="Sw1Rest.IService1" behaviorConfiguration="web"></endpoint>
			</service>
		</services>


		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />

		-->

	</system.serviceModel>


	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<!--
        Pour parcourir le répertoire racine de l'application Web lors du débogage, définissez la valeur ci-dessous sur true.
        Définissez-la sur false avant le déploiement pour ne pas divulguer d'informations du dossier de l'application Web.
      -->
		<directoryBrowse enabled="false" />
	</system.webServer>



	



<connectionStrings>
	<add name="SWDBEntities2" connectionString="metadata=res://*/MyModelDB2.csdl|res://*/MyModelDB2.ssdl|res://*/MyModelDB2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=miniProjetSWDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>


	<system.serviceModel> 
		<serviceHostingEnvironment minFreeMemoryPercentageToActivateService="0" />
	</system.serviceModel> 

</configuration>