
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div style="background-image: url('../../MyContent/images/lib2.jpg'); " class="site-section courses-title" id="HOME">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-lg-7 text-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="">
                <h2 class="section-title"></h2>
            </div>
        </div>
    </div>
</div>



<div class="site-section courses-entry-wrap" data-aos="fade-up" data-aos-delay="100">
    <div class="container">
        <div class="row">



            <div class="owl-carousel col-12 nonloop-block-14">








                <div class="course bg-white h-100 align-self-stretch">
                    <figure class="m-0">
                        <img src="../../MyContent/images/rlv.jpg" width="500" height="300" alt="Image" class="img-fluid">
                    </figure>
                    <div class="course-inner-text py-4 px-4">
                        <!--<span class="course-price">$20</span>
                        <div class="meta"><span class="icon-clock-o"></span>4 Lessons / 12 week</div>-->
                        <h3 style="color: deepskyblue">Relevé de Notes</h3>
                        <p>Télécharger vos relevé de notes concernant les semestres validés. </p>
                    </div>
                    <div class="d-flex border-top stats">
                        <div class="py-3 px-4">
                            <span class="icon-bar"></span>&nbsp;&nbsp;

                            <div class="form-box">
                                @using (Html.BeginForm("Rlv", "Etud", FormMethod.Post))
                                {
                                    
                                    <div class="form-group">
                                        <select name="sem">

                                            <option value="s1">s1</option>
                                            <option value="s2">s2</option>
                                            <option value="s3">s3</option>
                                            <option value="s4">s4</option>

                                        </select>
                                    </div>


                                    <div class="form-group">
                                        <input type="submit" name="formEtudSem" class="btn btn-primary btn-pill" value="Télécharger PDF">

                                    </div>
                                }
                            </div>
                        </div>
                        <!--<div class="py-3 px-4 w-25 ml-auto border-left"><span class="icon-chat"></span> 2</div>-->
                    </div>
                </div>

                
                <div class="course bg-white h-100 align-self-stretch">
                    
                    <figure class="m-0">
                        <img src="../../MyContent/images/slider_1.jpg" width="500" height="300" alt="Image" class="img-fluid">
                    </figure>
                    <div class="course-inner-text py-4 px-4">
                        <!--<span class="course-price">$20</span>
    <div class="meta"><span class="icon-clock-o"></span>4 Lessons / 12 week</div>-->
                        <h3 style="color: deepskyblue">Attestation de Réussite </h3>
                        <h3 style="color: red">@TempData["msg"]</h3>
                        <p>Télécharger votre attestation de réussite . </p>
                    </div>
                    <div class="d-flex border-top stats">
                        <div class="py-3 px-4">
                            <span class="icon-bar"></span>
                            @Html.ActionLink("Télécharger PDF", "Att", "Etud")
                        </div>
                        <!--<div class="py-3 px-4 w-25 ml-auto border-left"><span class="icon-chat"></span> 2</div>-->
                    </div>
                </div>

            </div>




        </div>
        
    </div>
</div>

