<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Home_cntrl</servlet-name>
        <servlet-class>WEB.Home_cntrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cesar_cntrl</servlet-name>
        <servlet-class>WEB.Cesar_cntrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mul_cntrl</servlet-name>
        <servlet-class>WEB.Mul_cntrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Affine_cntrl</servlet-name>
        <servlet-class>WEB.Affine_cntrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vigenre_cntrl</servlet-name>
        <servlet-class>WEB.Vigenre_cntrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Attaque_cesar_cntrl</servlet-name>
        <servlet-class>WEB.Attaque_cesar_cntrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Attaque_mul_cntrl</servlet-name>
        <servlet-class>WEB.Attaque_mul_cntrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Attaque_affine_cntrl</servlet-name>
        <servlet-class>WEB.Attaque_affine_cntrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Hill_cntrl</servlet-name>
        <servlet-class>WEB.Hill_cntrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RSA_cntrl</servlet-name>
        <servlet-class>WEB.RSA_cntrl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home_cntrl</servlet-name>
        <url-pattern>/Home_cntrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cesar_cntrl</servlet-name>
        <url-pattern>/Cesar_cntrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mul_cntrl</servlet-name>
        <url-pattern>/Mul_cntrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Affine_cntrl</servlet-name>
        <url-pattern>/Affine_cntrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vigenre_cntrl</servlet-name>
        <url-pattern>/Vigenre_cntrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Attaque_cesar_cntrl</servlet-name>
        <url-pattern>/Attaque_cesar_cntrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Attaque_mul_cntrl</servlet-name>
        <url-pattern>/Attaque_mul_cntrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Attaque_affine_cntrl</servlet-name>
        <url-pattern>/Attaque_affine_cntrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Hill_cntrl</servlet-name>
        <url-pattern>/Hill_cntrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RSA_cntrl</servlet-name>
        <url-pattern>/RSA_cntrl</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home_cntrl</welcome-file>
    </welcome-file-list>
</web-app>
