<html>
  <head>
    {% load static %}
    <link href="{% static '/css/main.css' %}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
  </head>

  <body>
    <div class="s01">
      <form method="post" action="data">
        <fieldset>
          <legend>Scrapping d'une page web</legend>
        </fieldset>
        <div class="inner-form">
          <div class="input-field first-wrap">
            <input type="Url ou chercher" type="text" id="URL" name="url" placeholder="Entrer l'url">
          </div>
          <div class="input-field second-wrap">
            <input type="text" id="Regex" name="regex" placeholder="Entrer une Regex">
          </div>
          <div class="input-field third-wrap">
            <button type="submit" class="btn-search">Envoyer</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
